body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


 #navbar a{
     color: azure;
     font-size: 23px;
     font-style: italic;
     font-family: Sans-serif;
 }


 .carousel-inner {
    max-height:39rem !important;
}

#card1{
    background-color: #ff9c9c;
}

#boton{
    font-size: 23px !important;
    font-weight: 500;
}

#Titulo1{
    margin-top:60px;
}

#Titulo2{
    font-size: 70px;
    margin-top: 150px;
}

#Titulo3{
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 50px;
}
#correo-footer label{
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#menu-footer h3{
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 50px;
}

#menu-footer a{
    color: gray !important;
    font-size: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#paginas-footer h3{
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 50px;
}

#paginas-footer a{
    color: gray !important;
    font-size: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
}


#contacto-footer h3{
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 50px;
}

#contacto-footer p{
    color: gray !important;
    font-weight: 500;
    margin-top: -17px;
}